<meta property="og:title" content="MemesGenerator">
<meta property="og:description" content="The Official Page to invite the MemesGenerator bot on your Discord Server">
<meta property="og:image" content="https://static-s.aa-cdn.net/img/ios/882400137/e49ec71ef09be47d0ee6f0cd4a7bb3f1?v=1">

<script src="script.js"></script>

<link rel="stylesheet" type="text/css"  href="mbot.css" >
<link rel="icon" href="https://zupimages.net/up/21/10/h7yj.png" type="image/x-icon"/>
<link rel="shortcut icon" href="https://zupimages.net/up/21/10/h7yj.png" type="image/x-icon"/> 
<title>Discord - Coolcraft</title>


<center>
<iframe src="https://discord.com/widget?id=791396969447948309&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
<br>

<input class="join" type="submit" value="Rejoindre le serveur" onclick="join()"><br>
<input class="join" type="button" value="Inviter le bot" onclick="invite()"><br>
<input class="invite" type="submit" value="Voir le code source" onclick="opensource()"><br>

</center>
